<details class="mobile-toggle-wrapper active" open>
	<summary class="mobile-toggle">
		<span></span>
		<span></span>
		<span></span>
	</summary>
	{%- render 'header-mobile-menu', header_settings: header_settings -%}
</details>
