{{- 'shop-the-look-block.css' | asset_url | stylesheet_tag -}}
<div class="shop_the_look-blocks_wrapper">
    <div class="shop_the_look-title">
    {{ 'products.product.shop_the_look' | t }}
    </div>
    {% if block.settings.product_2 != '' or block.settings.product_3 != '' %}
        {% render 'product-card' product_card_product: product  %}
    {% endif %}
    {% if block.settings.product_2 != '' %}
        {% render 'product-card' product_card_product: block.settings.product_2  %}
    {% endif %}
    {% if block.settings.product_3 != '' %}
        {% render 'product-card' product_card_product: block.settings.product_3  %}
    {% endif %}
</div>