{{- 'shop-the-look-block.css' | asset_url | stylesheet_tag -}}
<div class="shop_the_look-block_wrapper">
    {% if block.settings.product_2 != '' or block.settings.product_3 != '' %}
        <div class="main_product-shop_the_look shop_the_look-product">
            <div class="shop_the_look-product_title">
                {{ product.title }}
            </div>
            {% render 'product-card-swatch' %}
        </div>
    {% endif %}
    {% if block.settings.product_2 != '' %}
        <div class="shop_the_look-product">
            shop_the_look-product_2: {{ block.settings.product_2 }}
        </div>
    {% endif %}
    {% if block.settings.product_3 != '' %}
        <div class="shop_the_look-product">
            shop_the_look-product_3: {{ block.settings.product_3 }}
        </div>
    {% endif %}
</div>