{{- 'image-text-landing-page.css' | asset_url | stylesheet_tag -}}
<div class="image_text_landing-wrapper">
{% if section.settings.image %}
  <div class="image_text_landing-image">
    {%- liquid
       assign image = section.settings.image
        assign master_width = image.src.width | append: 'x' | append: image.src.height
        assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width
        assign class = nil
     -%}
    {%- render 'responsive-image', image: image, sizes: width, class: class -%}
  </div>
{% endif %}
<div class="image_text_landing-text">

</div>
</div>
{% schema %}
  {
    "name": "Image text landing",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Image position"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "richtext",
        "id": "subheader",
        "label": "Subheader"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "id": "button_link",
        "type": "url",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_position",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom_right",
            "label": "Bottom right"
          },
          {
            "value": "bottom_left",
            "label": "Bottom left"
          }
        ],
        "default": "center",
        "label": "Text position"
      }
    ]
  }
{% endschema %}