<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.sustainability.title' | t }}</h1>

    <h3>{{ 'sections.faq.sustainability.products.question' | t }}</h3>
    <p>{{ 'sections.faq.sustainability.products.answer' | t }}</p>
  </div>
</div>
