<div class="row">
  <div class="small-12 columns">
    <h1 class="text-uppercase">{{ 'sections.faq.exchange_return.title' | t }}</h1>

    <h3>{{ 'sections.faq.exchange_return.policy.question' | t }}</h3>
    <p>
      {{ 'sections.faq.exchange_return.policy.answer' | t }}
      {{ 'sections.faq.exchange_return.policy.answer2' | t }}
    </p>
  </div>
</div>
