<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.tracking_delivery.title' | t }}</h1>

    <h3>{{ 'sections.faq.tracking_delivery.multiple_orders.question' | t }}</h3>
    <p>{{ 'sections.faq.tracking_delivery.multiple_orders.answer' | t }}</p>
  </div>
</div>
