<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center text-uppercase">{{ 'sections.tracking.title' | t }}</h1>
    <p class="text-center">{{ 'sections.tracking.disclamer' | t }}</p>

    <iframe
      src="https://tracking.eu-central-1-0.sendcloud.sc/"
      width="100%"
      height="450px"
      frameBorder="0"
      style="border: 0;"
    ></iframe>
  </div>
</div>
