<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.tracking_delivery.title' | t }}</h1>

    <h3>{{ 'sections.faq.tracking_delivery.gear_quality.question' | t }}</h3>
    <p>{{ 'sections.faq.tracking_delivery.gear_quality.answer_html' | t }}</p>
  </div>
</div>
