<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.wholesale.title' | t }}</h1>

    <h3>{{ 'sections.faq.wholesale.partner.question' | t }}</h3>
    <p>{{ 'sections.faq.wholesale.partner.answer_html' | t }}</p>
  </div>
</div>
