<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.payment.title' | t }}</h1>

    <h3>{{ 'sections.faq.payment.invoice.question' | t }}</h3>
    <p>{{ 'sections.faq.payment.invoice.answer_html' | t: link_placeholder: '<a href="mailto:support@morotai.com">support@morotai.com</a>' }}</p>
  </div>
</div>
