<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.order.title' | t }}</h1>

    <h3>{{ 'sections.faq.order.response_time.question' | t }}</h3>
    <p>{{ 'sections.faq.order.response_time.answer' | t }}</p>
  </div>
