<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.inquiries.title' | t }}</h1>

    <h3>{{ 'sections.faq.inquiries.checkout_tax.question' | t }}</h3>
    <p>
      {{ 'sections.faq.inquiries.checkout_tax.answer' | t }}
      {{ 'sections.faq.inquiries.checkout_tax.answer2' | t }}
    </p>
  </div>
</div>
