<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.products.title' | t }}</h1>

    <h3>{{ 'sections.faq.products.size.question' | t }}</h3>
    <p>{{ 'sections.faq.products.size.answer' | t }}</p>
  </div>
</div>
