{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.payment.title' | t }}</h1>

    <h3>{{ 'sections.faq.payment.accept.question' | t }}</h3>
    <p>{{ 'sections.faq.payment.accept.answer' | t }}</p>
  </div>
</div>
