<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.order.title' | t }}</h1>

    <h3>{{ 'sections.faq.order.edit_information.question' | t }}</h3>
    <p>{{ 'sections.faq.order.edit_information.answer_html' | t }}</p>
  </div>
</div>
