.image_text_landing-wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

.image_text_landing-content_wrapper {
  padding: 10px;
}

.image_text_landing-content {
  border: 2px solid white;
}

.image_text_landing-button {
  color: white;
  display: block;
}