.image_text_landing-wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

.image_position-right {
  flex-direction: column-reverse;
}

.image_text_landing-content_wrapper_outter {
  padding: 10px;
}

.image_text_landing-content_wrapper_inner {
  display: flex;
  border: 2px solid white;
  padding: 20px;
}

.image_text_landing-header {
  font-size: 35px;
  font-weight: 700;
}

.image_text_landing-subheader {
  margin-top: 40px;
}

.image_text_landing-subheader p {
  margin: 0;
}

.image_text_landing-button {
  color: white;
  display: block;
  margin-top: 54px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.content_position-top_right {
  text-align: right;
}

.content_position-bottom_right {
  text-align: right;
}

@media print, screen and (min-width: 1025px) {
  .image_position-left {
    flex-direction: row;
  }
  
  .image_position-right {
    flex-direction: row-reverse;
  }
  
  .image_text_landing-image {
    width: 50%;
  }
  
  .image_text_landing-content_wrapper_outter {
    width: 50%;
  }

  .image_text_landing-content_wrapper_inner {
    height: 100%;
  }

  .image_text_landing-content_wrapper_inner {
    padding: 12%;
  }

  .image_text_landing-content {
    height: fit-content;
  }

  .content_position-top_left .image_text_landing-button {
    transform-origin: left;
  }

  .content_position-top_right {
    margin-left: auto;
    transform-origin: right;
  }

  .content_position-top_right .image_text_landing-button {
    transform-origin: right;
  }

  .content_position-center {
    align-self: center;
    margin: 0 auto;
  }

  .image_text_landing-button {
    transform: scale(1);
    transition: all ease-in-out .3s;
  }

  .image_text_landing-button:hover {
    color: white;
    transform: scale(1.05);
  }

  .content_position-bottom_right {
    margin-top: auto;
    margin-left: auto;
  }

  .content_position-bottom_right .image_text_landing-button {
    transform-origin: right;
  }

  .content_position-bottom_left {
    margin-top: auto;
  }

  .content_position-bottom_left .image_text_landing-button {
    transform-origin: left;
  }
}

