.image_text_landing-wrapper {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

.image_text_landing-content_wrapper_outter {
  padding: 10px;
}

.image_text_landing-content_wrapper_inner {
  border: 2px solid white;
}

.image_text_landing-header {
  font-size: 35px;
  font-weight: 600;
}

.image_text_landing-button {
  color: white;
  display: block;
}