.shop_the_look-title {
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
}

.shop_the_look-blocks_wrapper .product-card {
    display: flex;
    gap: 16px;
}

.shop_the_look-blocks_wrapper .product-featured-image {
    display: block !important;
    width: 41.6343%;
}

.shop_the_look-blocks_wrapper .product-card-info {
    width: 55.4475%;
}

.shop_the_look-blocks_wrapper .product-card .product-card-title{
    font-family: Rajdhani, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}

.shop_the_look-blocks_wrapper .product-card-swatches {
    justify-content: flex-start !important;
}

.shop_the_look-blocks_wrapper .product-card-swatches--container {
    margin-bottom: 16px;
}

.shop_the_look-blocks_wrapper .price {
    font-family: Rajdhani, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.shop_the_look-sizes {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.807%;
}

.shop_the_look-blocks_wrapper .product-card-info_left-side {
    width: 100%;
}

.shop_the_look-size_button {
    width: 17.4561%;
    height: 43px;
    border: 1px solid #999999;
    color: #999999;
    background: white;
    transition: all ease-in-out .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.shop_the_look-size_button.active{
    background: black;
    color: white;
}

.shop_the_look-add_to_cart {
    padding: 10px;
    background: black;
    color: white;
    transition: all ease-in-out .3s;
}

.shop_the_look-add_to_cart:hover {
    box-shadow: 5px 5px 5px grey;
}

.shop_the_look-add_to_cart[disabled] {
    border: 1px solid #99999980;
    cursor: not-allowed;
    color: #99999980;
    background: white;
}

.shop_the_look-add_to_cart[disabled]:hover {
    box-shadow: none;
}

.shop_the_look-size_button[disabled] {
    color: #99999980;
    border: 1px solid #99999980;
    cursor: not-allowed;
    background: linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%);
}

.shop_the_look-blocks_wrapper .product-card-info {
    flex-direction: column;
}

.shop_the_look-blocks_wrapper .product-card-info,
.shop_the_look-blocks_wrapper .product-featured-image {
    margin-bottom: 0 !important;
}